/* Write your CSS here! */
h1 {
    font-size: 500;
    text-align:center;
    font: red;
    margin: 25px}
p { text-align: center;
    margin: 25px;
    font: blue;
}
img {align-self: center;
    margin: 25px}
